[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktoken = "*"
bs4 = "*"
langchain = "*"
pydantic = "==1.*"
fastapi = {extras = ["all"], version = "*"}
openai = "*"
python-dotenv = "*"
requests = "*"
streamlit = "*"
uvicorn = "*"
streamlit-authenticator = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
